<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:property-placeholder location="classpath:hibernate.properties" />

	<!-- Hibernate connection configuration -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${orm.connection.driver_class}" />
		<property name="url" value="${orm.connection.url}" />
		<property name="username" value="${orm.connection.username}" />
		<property name="password" value="${orm.connection.password}" />
	</bean>

	<!-- Hibernate configuration settings -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.hepsiburada.entity" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${orm.dialect}</prop>
				<prop key="hibernate.show_sql">${orm.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${orm.hbm2ddl.auto}</prop>
			</props>
		</property>
	</bean>

	<!-- Hibernate Session Factory creation -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<context:component-scan base-package="com.hepsiburada" />
</beans>
